.customers{
  @include section;

  @media screen and (min-width: 1200px) {
      @include section(94px, 94px);
    }
}

.customers__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.customers__item {
  @media screen and (max-width: 767px) {
    --items: 2;
  }
  @media screen and (min-width: 1200px) {
    --items: 6;
  }
}

.customers__link {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 210px;
  height: 92px;

  border: 1px solid var(--main-svg-color);
  border-radius: 4px;

  color: var(--main-svg-color);
  transition: color var(--anim-fast), border-color var(--anim-fast);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
    color: var(--accent-color);
  }

  @media screen and (min-width: 768px) {
    width: 226px;
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}


.customers__icon {
  fill: currentColor;
}