.features {
  @include section;

  @media screen and (min-width: 1200px) {
      @include section(94px, 0);
    }

  background-color: var(--primari-white-color);
}

.features__list {
  --items: 1;

  @media screen and (min-width: 768px) {
      --items: 2;
    }

  @media screen and (min-width: 1200px) {
      --items: 4;
    }
}

.features__container {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 30px;

  width: 100%;
  height: 120px;

  background-color: var(--bgd-white-color);
  border-radius: 4px;

  @media screen and (min-width: 768px) {
      width: 354px;
    }

  @media screen and (min-width: 1200px) {
      width: 270px;
    }
}

.features__title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;

  @media screen and (max-width: 767px) {
      text-align: center;
    }
}

.features__text {
  width: 100%;

  line-height: calc(24 / 14);

  color: var(--secondary-text-color);

  @media screen and (min-width: 768px) {
      width: 354px;
    }

  @media screen and (min-width: 1200px) {
      width: 270px;
    }
}