// Footer

footer {
  background-color: var(--bgd-color-footer);
}

.container__footer {
  @include section;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
  }

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

// Logo and address

.container__address {
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    margin-right: 165px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 70px;
    margin-bottom: 0;
  }
}

.footer__logo {
  display: inline-block;
  margin-bottom: 28px;
}

.footer__logo--white {
  color: var(--primari-white-color);
}

.address__text {
  display: inline-block;
  margin-bottom: 12px;

  font-style: normal;
  line-height: calc(24 / 14);

  color: var(--primari-white-color);
}

.address__link {
  font-style: normal;
  line-height: calc(24 / 14);

  color: var(--adress-footer-color);
  transition: color var(--anim-fast);

  &:hover,
  &:focus {
    color: var(--accent-color);
    }
}


.address__link--mail {
  display: inline-block;
  margin-bottom: 12px;
}

// Join

.join__text {
  @extend %call-text;
}

.join__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
}

.join__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  color: var(--primari-white-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: color var(--anim-fast), background-color var(--anim-fast);

  &:hover,
  &:focus {
    color: var(--primari-white-color);
    background-color: var(--accent-color);
  }
}

.join__icon {
  fill: currentColor;
}

// Subscription

.container__subscription {
  @media screen and (min-width: 1200px) {
    margin-left: auto;
  }
}

.subscription__text {
  @extend %call-text;
}

.subscription__form {
  @media screen and (min-width: 1200px) {
  display: flex;
  gap: 12px;  }
}

.subscription__field {
  margin-bottom: 20px;
  padding: 15px 16px;
  width: 450px;
  height: 50px;

  font-size: 16px;
  line-height: calc(20 / 16);

  color: var(--primari-white-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: 1px solid transparent;
  outline-offset: -1px;

  transition: outline var(--anim-fast);

  &:hover,
  &:focus {
    outline-color: var(--accent-color);
  }

  &::placeholder {
    color: var(--adress-footer-color);
  }

  @media screen and (min-width: 768px) {
    display: block;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    width: 358px;
  }
}

.subscription__btn {
  @extend %button;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 28px;
}

.subscription__icon {
  fill: currentColor;
}