header {
  background-color: var(--primari-white-color);
}

// Logo

.logo {
  padding-top: 16px;
  padding-bottom: 16px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24);

  @media screen and (min-width: 1200px) {
      font-size: 26px;
      line-height: calc(31 / 26);
    }

  color: var(--accent-color);
}

.header__logo {
  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.header__logo--black {
  color: var(--logo-black-color);
}