.hero {
  max-width: 1600px;
  margin: 0 auto;
  @include section(200px, 200px);
  
  background-color: var(--hero-bgc);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url(../images/hero-bgi.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  text-align: center;
}

.hero__title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--primari-white-color);
}

.hero__btn {
  @extend %button;

  padding: 10px 32px;
}