// Portfolio header

.heder__project {
  border-bottom: 1px solid #ececec;
}

// Portfolio

.portfolio__project {
  @include section;

  @media screen and (min-width: 1200px) {
      @include section(94px, 94px);
    }

  background-color: var(--primari-white-color);
}

// Filters

.project__filter {
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: 768px) {
      justify-content: center;
    }
    
  gap: 8px;

  margin-bottom: 50px;
}

.filter__btn {
  @extend %button;

  padding: 6px 22px;

  font-weight: 500;
  letter-spacing: 0.03em;
  text-align: center;

  color: var(--primari-text-color);
  background-color: var(--bgd-white-color);
  box-shadow: none;

  transition: color var(--anim-fast), background-color var(--anim-fast),
    box-shadow var(--anim-fast);

  &:hover,
  &:focus {
    color: var(--primari-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

// .filter__item:first-child .filter__btn {
//   padding: 6px 25px;
// }

// Projects

.project__list {
  --items: 1;

  @media screen and (min-width: 768px) {
    --items: 2;
  }

  @media screen and (min-width: 1200px) {
    --items: 3;
  }
}

.project__link {
  transition: box-shadow var(--anim-fast);

  &:hover,
  &:focus {
    display: block;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.project__description {
  padding: 20px 24px;

  border: 1px solid #eeeeee;
  border-top: none;
}

// Crutch
.project__description--pb {
  padding-bottom: 56px;
}
// Crutch

.description__title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);

  letter-spacing: 0.06em;

  color: var(--primari-text-color);
}

.description__text {
  font-size: 16px;
  line-height: calc(30 / 16);

  color: var(--secondary-text-color);
}

.project__thumb {
  position: relative;
  overflow: hidden;
}

.thumb__overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding-right: 24px;
  padding-left: 24px;
  display: flex;
  align-items: center;

  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);

  transition: transform var(--anim-fast);
}

.project__link:hover .thumb__overlay,
.project__link:focus .thumb__overlay {
  transform: translateY(0);
}

.overlay__text {
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;

  color: var(--primari-white-color);
}