.work {
  display: none;
  @include section;
  background-color: var(--primari-white-color);

  @media screen and (min-width: 1200px) {
      display: block;
    }
}

.work__item {
  position: relative;
}

.work__overlay {
  position: absolute;
  bottom: 0;
  width: 100%;

  padding-top: 27px;
  padding-bottom: 27px;

  background-color: rgba(47, 48, 58, 0.8);
}

.work__description {
  font-weight: 700;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primari-white-color);
}