$breakpoints: (
  'phone': 480px,
  'tablet': 768px,
  'desktop': 1200px,
);

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;


// phone screen
@media screen and (min-width: 480px) {
  width: 480px;
}

// tablet screen
@media screen and (min-width: 768px) {
  width: 768px;
}

// desktop screen
@media screen and (min-width: 1200px) {
  width: 1200px;
}
}